@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:400,500,600,700,800,900|Titillium+Web:400,600,700&subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
}

td, th {

    border: 4px solid #dddddd;
    text-align: center;
	padding: 8px;
	border-spacing:0;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
input {
	text-align: center;
}